.body {
  border-radius: 1.25rem;
  z-index: 0;
  /* окна тень */
  box-shadow: 2px 10px 30px 0px rgba(0, 0, 0, 0.06);
  width: 27.6rem;
  height: 17.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.15s ease-in;
  cursor: pointer;
}

.body-bg {
  position: absolute;
  z-index: 1;
  border-radius: 1.25rem;
  width: 27.6rem;
  height: 17.2rem;
  filter: opacity(0);
  transition: 0.25s ease-in;
  background: url("../../modules/assets/fire-logo.svg"),
    linear-gradient(266deg, #f20544 -6.32%, #f28b30 96.9%);
  background-repeat: no-repeat;
  background-position: 6.69rem, 0 0;
  background-size: 100%, contain;
  background-blend-mode: screen;
}

.icon-container {
  z-index: 2;
  flex-grow: 2;
  display: flex;
  align-items: center;
  width: 7.5rem;
  height: 7.5rem;
  color: rgb(143, 173, 191);
  transition: 0.15s ease-in;
}
.label-container {
  z-index: 2;
  padding: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.875rem;
  transition: 0.15s ease-in;
}

.body:hover .body-bg {
  transition: 0.25s ease-in;
  filter: opacity(1);
}

.body:hover .icon-container {
  color: white;
  width: 10rem;
  height: 10rem;
  transition: 0.15s ease-in;
}

.body:hover .label-container {
  font-weight: 700;
  font-size: 2rem;
  color: white;
  transition: 0.15s ease-in;
}
