.panel {
  width: 32.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.input {
  width: 25rem;
  height: 3.125rem;
  font-size: 1.25rem;
  text-align: center;
}

.plate {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.87rem;
  padding: 1.87rem 3.77rem 0 3.77rem;
}

.button {
  width: 19.375rem;
  height: 3.125rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 100%;
}

.logo {
  width: 27.2705rem;
  height: 5.3125rem;
}

.logo-icon-container {
  display: contents;
}

.logo-icon {
  position: fixed;
  left: 0;
  z-index: -1;
  color: #8fadbf1a;
  top: -20vw;
  height: auto;
}
.satbayev-logo {
  width: 7.92156rem;
  height: 2.59838rem;
}
.footer {
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  padding-bottom: 0.5rem;
}
